{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-md-3 col-lg-2 px-0">
            <div class="sidebar bg-primary text-white vh-100">
                <div class="text-center py-4">
                    <i class="fas fa-robot fa-2x mb-2"></i>
                    <h5>ETJCA Agent</h5>
                </div>
                <nav class="nav flex-column">
                    <a class="nav-link text-white active" href="/">
                        <i class="fas fa-tachometer-alt"></i> Dashboard
                    </a>
                    <a class="nav-link text-white" href="/search_prospects">
                        <i class="fas fa
